@model ParkWeb.Models.MilletBahcesi
@{
    var title = "Millet Bahçesi Oluştur";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data"> @*//enctype for image*@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row px-2 mx-2 backgroundWhite border">
        @if(Model.Id!=0)
            {
                <input type="hidden" asp-for="Id" />
            title = "Millet Bahçesi Düzenle";
        }
        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-8">
                    <input asp-for="State" class="form-control"/>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Picture"></label>
                    
                </div>
                <div class="col-8">
                    <input type="file" asp-for="Picture" multiple class="form-control" id="projectImage" name="files" />
                    <span asp-validation-for="Picture" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Established"></label>
                </div>
                <div class="col-8">
                    @{   var dateEst = "";
                        if(Model.Id!=0)
                        {
                            dateEst = Model.Established.ToShortDateString();
                        }
                        }
                  
                                         @*if its update, show established  *@
                    <input id="datepicker" value="@dateEst" type="text" asp-for="@Model.Established" class="form-control"/>
                   
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">   @(Model.Id==0?"Create":"Update")</button>
                 
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
        <div class="col-4 text-right" style="width:250px;">

            @if (Model.Picture != null)
            {
            var base64 = Convert.ToBase64String(Model.Picture);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            <img src="@imgsrc" width="100%" />
        }
            @if (Model.Picture == null)
            {<img src="https://via.placeholder.com/150" width="100%" />}
        </div>
    </div>

</form>
@section scripts{ 
<script>
    $(function () {
        $('#datepicker').datepicker(
            {
                changeMonth: true,
                changeYear: true,
                yearRange: "2013:2050"
            }
        );
    })
</script>
}

